/vendor
/node_modules

Homestead.yaml

Homestead.json
.env


# phpstorm project files
.idea

# composer itself is not needed
composer.phar
/storage/debugbar/*
/public/assets/*
/public/css/app.css.map
/public/css/app.css