del {
    color: red;
    background: #fdd;
    text-decoration: none;
}
ins {
    color: green;
    background: #dfd;
    text-decoration: none;
}
label {
    font-weight: normal;
}
.fa-btn {
    margin-right: 6px;
}

.word-definition{
    border-bottom: 1px dotted;
}

.word-definition .word-definition{
    border: none;
}

.word-definition:hover, .word-definition > span:hover{
    background: #2ca02c;
    border-radius: 3px;
    cursor: pointer;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* background-color: #f5f5f5; */
}

.j-with-images img{
    cursor: pointer;
}

.dropzone{
    border-width: 1px;
    border-color: #d2d6de;
    padding: 0;
}

.dropzone .dz-message{
    display: none;
}

.dropzone .dz-preview .dz-image{
    border-radius: 5px;
}

.dropzone .dz-preview {
    margin-right: 0px;
}

.edit-images-thumbs{

}
.edit-images-thumbs .img-thumb{
    position: relative;
    margin-right:10px;
}

.edit-images-thumbs .img-thumb img{
    border-radius: 5px;
}

.edit-images-thumbs .img-thumb:hover{
    /*background-color: #FFF;
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;*/
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #3c8dbc;
    border-color: #367fa9;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: white;
}

.select2-container--default .select2-selection--multiple{
    border-color: #d2d6de;
}

.location-item, .people-item{
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 26px;
}

.location-item:last-child, .people-item:last-child{
    border: 0;
}

.location-item h4, .people-item h4{
    margin-top: 0px;
}

.location-item .slide, .people-item .slide{
    width: 140px;
}

.location-item-details .slide, .people-item-details .slide{
    width: 200px;
}

a.view-details{
    font-weight:bold;
}

a.view-details:hover{
    text-decoration: none;
}

.box{
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.carousel-control{
    background-image: none !important;
}

.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.reset-filter{
    margin-left: 5px;
}

.strongs-page h4{
    padding: 5px 0;
    background: #f5f5f5;
}

.text-red{
    color: red;
}

.note-text,.journal-text{
    cursor: pointer;
}

.no-image{
    width: 140px;
    height: 140px;
}

.location-item-details .no-image{
    width: 200px;
    height: 200px;
}

.no-image .no-image-text{
    height: 130px;
    width: 130px;
    border: 1px solid #f4f4f4;
    line-height: 125px;
    color: #ddd;
}

.location-item-details .no-image .no-image-text{
    height: 190px;
    width: 190px;
    line-height: 180px;
}

.location-map-btn{
    margin-top: 5px;
}

.location-item-details .g-map-embed iframe{
    width: 300px;
    height: 300px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#popup iframe{
    width: 568px;
}

.main-container{
    min-height: 400px;
}
