body{

}
del {
    color: #b38500;
    background: rgba(255, 218, 0, 0.5);
    text-decoration: none;
}
ins {
    color: green;
    background: #dfd;
    text-decoration: none;
}
label {
    font-weight: normal;
}
.fa-btn {
    margin-right: 6px;
}

.word-definition{
    border-bottom: 1px dotted;
}

.word-definition .word-definition{
    border: none;
}

.word-definition:hover, .word-definition > span:hover{
    background: #2ca02c;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* background-color: #f5f5f5; */
}

.j-with-images img{
    cursor: pointer;
}

.dropzone{
    border-width: 1px;
    border-color: #d2d6de;
    padding: 0;
}

.dropzone .dz-message{
    display: none;
}

.dropzone .dz-preview .dz-image{
    border-radius: 5px;
}

.dropzone .dz-preview {
    margin-right: 0px;
}

.edit-images-thumbs{

}
.edit-images-thumbs .img-thumb{
    position: relative;
    margin-right:10px;
}

.edit-images-thumbs .img-thumb img{
    border-radius: 5px;
}

.edit-images-thumbs .img-thumb:hover{
    /*background-color: #FFF;
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;*/
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #3c8dbc;
    border-color: #367fa9;
    color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: white;
}

.select2-container--default .select2-selection--multiple{
    border-color: #d2d6de;
}

.location-item, .people-item{
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 26px;
}

.location-item:last-child, .people-item:last-child, .friend-item:last-child{
    border: 0;
}

.location-item h4, .people-item h4{
    margin-top: 0px;
}

.location-item .slide, .people-item .slide{
    width: 140px;
}

.location-item-details .slide, .people-item-details .slide{
    width: 200px;
}

a.view-details{
    font-weight:bold;
}

a.view-details:hover{
    text-decoration: none;
}

.box{
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.carousel-control{
    background-image: none !important;
}

.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.reset-filter{
    margin-left: 5px;
}

.strongs-page h4{
    padding: 5px 0;
    background: #f5f5f5;
}

.text-red{
    color: red;
}

.note-text,.journal-text,.prayer-text,.entry-text{
    cursor: pointer;
}

.entry-text a{
    text-decoration: none;
    color: inherit;
}

.no-image{
    width: 140px;
    height: 140px;
}

.location-item-details .no-image{
    width: 200px;
    height: 200px;
}

.no-image .no-image-text{
    height: 130px;
    width: 130px;
    border: 1px solid #f4f4f4;
    line-height: 125px;
    color: #ddd;
}

.location-item-details .no-image .no-image-text{
    height: 190px;
    width: 190px;
    line-height: 180px;
}

.location-map-btn{
    margin-top: 5px;
}

.location-item-details .g-map-embed iframe{
    width: 300px;
    height: 300px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#popup iframe{
    width: 568px;
}

.main-container{
    min-height: 400px;
}

.my-journal-list .box-header,.my-notes-list .box-header, .my-prayers-list .box-header, .my-entries-list .box-header{
    border-bottom: 1px solid #f4f4f4;
}

.my-journal-list .box-body,.my-notes-list .box-body, .my-prayers-list .box-body, .my-entries-list .box-body,.friends-list .box-body, .wall .box-body{
    padding: 10px;
}

.input-daterange input:first-child {
    border-radius: 4px 0 0 4px;
}

.input-daterange input:last-child {
    border-radius: 0 4px 4px 0;
}

.btn-to-reader{
    position: fixed;
    left: 5px;
    top: 125px;
    z-index: 999;
    opacity: 0.3;
    padding: 6px 8px;
    font-size: 13px;
}

.btn-to-reader:hover{
    opacity:1;
}

.related-item{
    margin-bottom: 14px;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.related-item .item-header{
    padding: 5px 8px;
    background-color: #f7f7f9;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom: 1px solid #e1e1e8;
    min-height: 30px;
}
.related-item .item-header .fa.fa-btn{
    color: #337ab7;
    font-size: 19px;
}

.related-item .item-header .fa.fa-pencil, .related-item .item-header .fa.fa-location-arrow{
    color: #337ab7;
    font-size: 15px;
    padding: 2px 0px 2px 2px;
}

.related-item .item-body{
    padding: 5px 10px;
    min-height: 50px;
}

.related-item .item-body:hover{
    cursor: pointer;
    background: #f9f9f9;
}
.related-item .item-body .verse-block{
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e1e1e8;
}

.related-item .item-footer{
    background-color: #f7f7f9;
    border-top: 1px solid #e1e1e8;
    min-height: 30px;
}

.related-item .item-actions{
    padding: 5px 8px;
}

.related-item .item-actions .popover-content{
    padding: 3px;
}

.related-item .item-actions .like-img{
    margin-right: 3px;
}

.related-item .item-actions .like-item:last-child .like-img{
    margin-right: 0;
}

.item-actions .show-more-likes{
    width: 40px;
    height: 40px;
    font-size: 26px;
    line-height: 26px;
    font-weight: bold;
}

.related-item .item-actions a{
    text-decoration: none;
    margin-right: 10px;
}

.related-item .item-comments{
    padding: 5px 8px;
    border-top: 1px solid #e1e1e8;
}

.related-item-view .verse-block{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e1e1e8;
}

#popup .full-screen-btn{
    font-size: 12px;
    padding: 3px 8px;
    margin: 0 10px;
}

.related-records .date-order-btn{
    position: absolute;
    top: 63px;
    right: 22px;
    color: #337ab7;
}

.related-records .date-order-btn a{
    text-decoration: none;
}

#note-form .fa,#journal-form .fa,#prayer-form .fa{
    color: #90949c;
    width: 15px;
    text-align: center;
}

.my-notes-list .fa, .my-journal-list .fa, .my-prayers-list .fa, .my-entries-list .fa{
    /*color: #90949c;*/
    color: #367fa9;
    font-size: 1.4em;
}

.my-entries-list .create-btns .fa{
    color: white;
    font-size: 1em;
}

.my-notes-list h4, .my-journal-list h4, .my-prayers-list h4{
    color: #367fa9;
}

.section-title{
    margin-top: 10px;
    margin-bottom: 30px;
}

/*
 * Component: Small Box
 * --------------------
 */
.small-box {
    color: white;
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.small-box > .inner {
    padding: 10px;
}
.small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.small-box > .small-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}
.small-box p {
    font-size: 15px;
}
.small-box p > small {
    display: block;
    color: #f9f9f9;
    font-size: 13px;
    margin-top: 5px;
}
.small-box h3,
.small-box p {
    z-index: 5px;
}
.small-box .icon {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
}
.small-box:hover {
    text-decoration: none;
    color: #f9f9f9;
}
.small-box:hover .icon {
    font-size: 95px;
}
@media (max-width: 767px) {
    .small-box {
        text-align: center;
    }
    .small-box .icon {
        display: none;
    }
    .small-box p {
        font-size: 12px;
    }
}


/*
 * Component: Mini Box
 * --------------------
 */
.mini-box {
    color: white;
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.mini-box > .inner {
    padding: 5px 15px;
}

.mini-box > .inner .count{
    display: inline-block;
    font-size: 26px;
}

.mini-box > .inner .count-text{
    display: inline-block;
    vertical-align: 0.45ex;
    margin-left: 5px;
}

.mini-box > .mini-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.mini-box > .mini-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
}
.mini-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}
.mini-box p {
    font-size: 15px;
}
.mini-box p > small {
    display: block;
    color: #f9f9f9;
    font-size: 13px;
    margin-top: 5px;
}
.mini-box h3,
.mini-box p {
    z-index: 5px;
}
.mini-box .icon {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 0;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.15);
}
.mini-box:hover {
    text-decoration: none;
    color: #f9f9f9;
}
.mini-box:hover .icon {
    font-size: 38px;
}
@media (max-width: 767px) {
    .mini-box {
        text-align: center;
    }
    .mini-box .icon {
        display: none;
    }
    .mini-box p {
        font-size: 12px;
    }
}



.verse-text.highlight{
    background: #e1e1e8;
    /*background: #f7f7f9;*/
}

.related-item.highlight{
    border-color: #367fa9;
    border-width: 2px;
    position: fixed;
    width: 262px;
    top:100px;
    opacity: 1 !important;
    z-index: 1;
}

.related-item.blur{
    opacity:0.3;
}

.stars-block{
    position: relative;
    width: 99px;
}

.my-entries-list .stars-block{
    width: 80px;
}

.my-study-item .stars-block {
    position: absolute;
    top: -5px;
    right: 360px;
    line-height: initial;
}

.my-study-verse .stars-block {
    position: absolute;
    top: 15px;
    right: 300px;
    line-height: initial;
}

.stars-block a{
    text-decoration: none;
}

.stars-block .star-link {
    position: relative;
    display: inline-block;
}

.stars-block .star-link.notes {
    position: absolute; top: 0; left: 31px;
}
.stars-block .star-link.journal {
    position: absolute; top: 22px; left: 0;
}
.stars-block .star-link.prayers {
    position: absolute; top: 22px; right: 0;
}

.stars-block .star-link .fa-star {
    font-size: 40px;
    color: #d2d6de;
}

.my-entries-list .stars-block .star-link .fa-star{
    font-size: 30px;
}

.stars-block .star-link .fa-star.active {
    color: #ffd001;
}

.stars-block .star-link .star-label {
    position: absolute;
    top: 12px;
    left: 14px;
    color: white;
    font-weight: bold;
}

.my-entries-list .stars-block .star-link .star-label{
    top: 9px;
    left: 10px;
    font-size: 11px;
}

.stars-block .star-line{
    display: inline-block;
}
.stars-block .star-j,.stars-block .star-n,.stars-block .star-p{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #d2d6de;
    padding: 6px 9px;
    width: 30px;
    height: 30px;
    border: 2px solid #d2d6de;
    border-radius: 100%;
}
.stars-block .star-j{

}
.stars-block .star-n{
    display: inline-block;
}
.stars-block .star-p{
    display: inline-block;
}
.stars-block .star.active{
    background-color: #ffd001;
    border-color: #ffd001;
    color: #fff;
}
.stars-block .star-n.active{
    /*background-color: #f0ad4e;
    border-color: #f0ad4e;
    color: #fff;*/
}
.stars-block .star-j.active{
    /*background-color: #449d44;
    border-color: #449d44;
    color: #fff;*/
}
.stars-block .star-p.active{
    /*background-color: #337ab7;
    border-color: #337ab7;
    color: #fff;*/
}

.navbar-nav .fa-home{
    font-size: 17px;
}
.navbar-nav .ion-ios-book{
    font-size: 17px;
}
.navbar-nav .fa-users{
    font-size: 14px;
}

.navbar-header .navbar-brand{
    padding: 5px 15px;
    line-height: 33px;
}
.navbar-header .ion-ios-book, .navbar-header .ion-ios-book-outline{
    font-size: 42px;
    color: #337ab7;
}

#contact-info dd{
    margin-bottom: 20px;
}

.nav-left .divider{
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

.friends-list .friend-item{
    padding: 15px 0;
    /*border-bottom: 1px solid #ddd;*/
}

.friends-list .friend-item:last-child{
    border: 0;
}

.wall-nav,.friends-nav{
    margin-bottom: 15px;
}

.wall-nav.nav-pills>li>a, .friends-nav.nav-pills>li>a,.user-block .nav-pills>li>a{
    padding: 3px 15px;
    line-height: 20px;
}

.wall-nav.nav-pills>li.active>a{
    /*background-color: #5bc0de;*/
}

#avatar.dropzone{
    width: 124px;
    max-height: 124px;
    min-height: 124px;
    border: 2px dashed #ccc;
    border-radius: 5px;
}

#avatar.dropzone .dz-preview{
    margin: 0;
}

#avatar.dropzone .select-image{
    position: absolute;
    left:0;
    padding: 32px 36px !important;
}

.no-avatar {
    width: 100px;
    height: 100px;
}

.no-avatar-midi {
    width: 54px;
    height: 54px;
}

.no-avatar-mini {
    width: 40px;
    height: 40px;
}

.no-avatar .no-avatar-text {
    height: 90px;
    width: 90px;
    border: 1px solid #f4f4f4;
    line-height: 125px;
    color: #ddd;
}

.no-avatar-mini .no-avatar-text {
    height: 34px;
    width: 34px;
    border: 1px solid #f4f4f4;
    line-height: 42px;
    color: #ddd;
}

.no-avatar-midi .no-avatar-text {
    height: 44px;
    width: 44px;
    border: 1px solid #f4f4f4;
    line-height: 52px;
    color: #ddd;
}

.group-block{
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    margin-bottom: 15px;
    /*background-color: whitesmoke;*/
}

.group-block .g-header{
    border-top: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    min-height: 24px;
    line-height: 20px;
    padding: 8px;
    position: relative;
}

.group-block .g-body{
    border-top: 1px solid #e5e5e5;
 }

.group-block .g-footer{
    padding: 5px;
    border-top: 1px solid #e5eaf1;
}

.group-block .g-footer:hover{
    background-color: whitesmoke;
}

.user-block{
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    margin-bottom: 15px;
    /*background-color: whitesmoke;*/
}

.user-block .u-header{
    border-top: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    min-height: 24px;
    line-height: 20px;
    padding: 8px;
    position: relative;
}

.user-block .u-body{
    border-top: 1px solid #e5e5e5;
}

.user-block .u-footer{
    padding: 5px;
    border-top: 1px solid #e5eaf1;
}

.user-block .u-footer:hover{
    background-color: whitesmoke;
}

.user-block .friend-item{
    padding: 10px;
}

.friend-item .btn{
    padding: 2px 12px;
}

.community-menu a.disabled{
    opacity: 0.5;
}

.j-access-level .disabled{
    color: #ccc;
}

.select2-container--default.select2-container--focus .select2-selection--multiple{
    border-color: #D2D6E1;
}

.group-details{
    height: 250px;
    margin-bottom: 15px;
}

.group-details .header{
    /*opacity: 0.5;*/
    height: 75px;

    background: rgba(74,74,74,1);
    background: -moz-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74,74,74,1)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(74,74,74,1) 0%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#000000', GradientType=0 );
}

.group-details .title{
    color: whitesmoke;
    font-size: 24px;
    padding: 10px 20px;
}

.group-details .controls{
    color: whitesmoke;
    padding: 10px 20px;
}

.group-details .controls a{
    margin-left: 5px;
}

.group-details .controls .fa-trash,.group-details .controls .fa-cog{
    color: whitesmoke;
    font-size: 24px !important;
}

.group-info .info-block{
    margin-bottom: 15px;
}

.img-thumbnail-mini{
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 2px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.wall-like-btn.liked,.wall-like-btn.liked .fa{
    color: #d9534f;
}


