.bl-heading {
    color: #010101;
    font-size: 2.14em;
    font-family: ns_widemedium;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 0 50px;
}
