.req {
    color: #f90000;
    font-family: work_sansmedium;
    font-size: 1.14rem;
    line-height: 1.71rem;
    vertical-align: top;
}
textarea.input1 {
    padding: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #313d47 transparent transparent;
}
.cu-arrowleft2, .cu-arrowright2 {
    color: transparent !important;
}